{{!< default }}
        {{#post}}
        <main> 
            <div class="row">
                <div class="post col s12 m12 l10 offset-l1">
                    <article class="card">
                        <div class="card-content">
                            <div class="card-header">
                                <div class="card-title">{{title}}</div>
                                <div class="card-meta blue-grey-text text-lighten-2">
                                    <time class="card-date" datetime="{{date format='YYYY-MM-DD'}}">
                                        <i class="material-icons">&#xE192;</i> 
                                        {{date format='YYYY-MM-DD'}}
                                    </time>
                                   <div class="card-tag"> {{!Tag}}
                                        <i class="fa fa-hashtag" aria-hidden="true"></i>
                                        {{#foreach tags}}
                                            <a href="{{url}}" title="{{name}}" class="blue-grey-text text-lighten-2">{{name}}</a>
                                        {{/foreach}}
                                    </div>
                                </div>
                            </div>
                            <div class="post-p"> {{!Content here}}
                               {{content}}
                            </div>
                        </div>
                        <div class="card-action">
                            <div id="disqus_thread"></div>
                            <script>
                                /**
                                * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                                * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
                                */

                                var disqus_config = function () {
                                    this.page.url = '{{url absolute="true"}}'; // Replace PAGE_URL with your page's canonical URL variable
                                    this.page.identifier = 'ghost-{{id}}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                                };

                                (function() { // DON'T EDIT BELOW THIS LINE
                                var d = document, s = d.createElement('script');

                                s.src = '//disqus-shortname.disqus.com/embed.js';

                                s.setAttribute('data-timestamp', +new Date());
                                (d.head || d.body).appendChild(s);
                                })();
                            </script>
                            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
                        </div>
                    </article>
                </div>
            </div>
            <div class="row"> {{! Previous and Next page navigation}}
                <div class="col s12 m8 offset-m2">
                    {{#next_post}}
                    <a href="{{url}}" class="left">
                        <button class="btn-floating">
                            <i class="material-icons">&#xE5C4;</i>
                        <div class="ripple-container"></div></button>
                        Newer                    
                    </a>
                    {{/next_post}}
                    {{#prev_post}}
                    <a href="{{url}}" class="right">
                        Older
                        <button class="btn-floating">
                            <i class="material-icons">&#xE5C8;</i>
                        </button>
                    </a>
                    {{/prev_post}}
                </div>
            </div>
        </main>
        {{/post}}